.main-nav li .glyphicon {
    margin-right: 10px;
}

/* Highlighting rules for nav menu items */
.main-nav li a.active,
.main-nav li a.active:hover,
.main-nav li a.active:focus {
    background-color: #4189C7;
    color: white;
}

.navbar-inverse{
    min-height:90px;
}

.nav > li > a {
    display:inline;
}

/* Keep the nav menu independent of scrolling and on top of other items */
.main-nav {
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    body {
        padding-top: 50px;
    }
}

@media (min-width: 768px) {
    /* On small screens, convert the nav menu to a vertical sidebar */
    .main-nav .navbar { 
        border-radius: 0px;
        border-width: 0px;
    }
    .main-nav .navbar-header {
        float: none;
    }
    .main-nav .navbar-collapse {
        border-top: 1px solid #444;
        padding: 0px;
    }
    .main-nav .navbar ul {
        float: none;
    }
    .main-nav .navbar li {
        display:inline;
        float: none;
        font-size: 15px;
        margin: 6px;
    }
    .main-nav .navbar li a {
        padding: 10px 16px;
        border-radius: 4px;
    }
    .main-nav .navbar a {
        /* If a menu item's text is too long, truncate it */
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .dropdownGrid {
         height: 2em;
         width: 7em;
    }
 
   .data-gridboarder
    {
     border:solid 1px; padding:12px;     
    }
}

.backToDashboard
{
    float:left;
    font-weight: bold;
}

a.FrameworkTypeMenu
{
    box-sizing:border-box;
    color:rgba(0, 0, 0, 0.6);
    font-family:SegoeUI, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size:20px;
    font-weight:normal;
    height:36px;
    line-height:36px;
    margin-bottom:0px;
    margin-left:12px;
    margin-right:12px;
    margin-top:0px;
    text-decoration-line:none;
    text-decoration-style:solid;
    transition-delay:0s;
    transition-duration:0.6s;
    transition-property:margin;
    transition-timing-function:cubic-bezier(0.16, 1, 0.29, 0.99);
    white-space:nowrap;
    -webkit-tap-highlight-color:rgba(0, 0, 0, 0)
}

a.FrameworkTypeMenu.Active
{
    
}

a.FrameworkTypeMenu:hover, 
a.FrameworkTypeMenu:link, 
a.FrameworkTypeMenu:active, 
a.FrameworkTypeMenu:focus, 
a.FrameworkTypeMenu:visited
{
    color: rgba(0, 0, 0, 0.6);
}

.peoplePicker
{
    width: 220px;
    height: 47px;
}

.reassignTaskDialog
{
    min-width: 700px !important;
    min-height: 500px !important;
    width: 700px !important;
    height: 500px !important;
}