@{
    ViewData["Title"] = "Home Page";
}

 <link rel="stylesheet" href="https://static2.sharepointonline.com/files/fabric/office-ui-fabric-core/5.0.1/css/fabric.min.css">
    <link rel="stylesheet" herf="https://assets.onestore.ms/cdnfiles/external/mwf/long/v1/v1.4.0/css/mwf-west-european.min.css " >
    <style>
    .grid-Border{
      border-width: 50px;
     border-color: gray;
    }
    .textboxclass {
    border-top-width: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    border-bottom-width: 0px;
    }
    </style>

<div id="react-app" asp-prerender-module="ClientApp/dist/main-server">Loading...</div>

@section scripts {
    <script src="~/dist/main-client.js" asp-append-version="true"></script>
}
